body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.produto img {
    width: 200px;
    height: auto;
}

button {
    background-color: #25D366; /* verde WhatsApp */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #128C7E;
}
